footer {
    margin: 4rem auto 0 auto;
    padding: 0;
    background-color: var(--header-color);
    display: flex;
    padding: 1rem;
    border-top: 4px var(--text-color) solid;
}

#footer-left-side-sec {
    background-color: aqua;
    display: block;
    width: max-content;
    margin: 0 auto;
}

#footer-center-sec {
    background-color: rgb(170, 187, 132);
    display: block;
    width: max-content;
    margin: 0 auto;
}

#footer-right-side-sec {
    background-color: rgb(55, 155, 155);
    display: block;
    float: right;
    width: max-content;

}

#footer-items{
    background-color: var(--header-color);
    list-style: none;
}

#footer-items > li{
    background-color: var(--header-color);
}

#footer-items > li > a{
    background-color: var(--header-color);
    color: var(--title-font-color);
    text-decoration: none;
    font-family: var(--text-font-family);
}

#footer-links{
    background-color: var(--header-color);
    list-style: none;
}

#footer-links > li{
    background-color: var(--header-color);
}

#footer-links > li > a{
    background-color: var(--header-color);
    color: var(--title-font-color);
    font-family: var(--text-font-family);
    text-decoration: none;
}

#footer-items > li > a:hover, #footer-links > li > a:hover{
    background-color: var(--header-color);
    color: var(--title-font-color);
    text-decoration: none;
    font-weight: bold;
}